body {
  display: none;
}
img {
  object-fit: cover;
}
.img-cover-preview {
  width: 30rem;
  height: 15rem;
}
.rounded-circle.img-avatar-preview {
  width: 15rem;
  height: 15rem;
}

.rounded-circle.img-avatar {
  width: 5em;
  height: 5em;
}

.img-cover {
  width: 100%;
  height: 30vh;
}
