body {
  display: none;
}
img {
  object-fit: cover;
  background-color: darkgray;
}
.img-cover-preview {
  width: 30rem;
  height: 15rem;
}
.rounded-circle.img-avatar-preview {
  width: 15rem;
  height: 15rem;
}

.rounded-circle.img-avatar {
  width: 5em;
  height: 5em;
}

.img-avatar-post {
  width: 3rem;
  height: 3rem;
}

.img-cover {
  width: 100%;
  height: 30vh;
}

.img-cover-card {
  width: 100%;
  height: 200px;
}

.btn::before {
  width: 100px;
}
